/**
 * base
 * @author: daxingplay<daxingplay@gmail.com>
 * @date: 12-12-24
 */

#page {
    width: 990px;
    margin: 0 auto;
}

.footer {
    text-align: center;
    padding: 50px 0 0;
}

#github-ribbon {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}